@model List<MyStoreAdminDashboard.Services.UserDto>
@{
    ViewData["Title"] = "ManageUsers";
}

<h1>Manage User</h1>

<p>
    <a asp-controller="User" asp-action="CreateUser" class="btn btn-primary">Create User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Gander</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td>@user.DateOfBirth</td>
                <td>
                    <a asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete @user.Name?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>